<section>
    <md-content layout="row" layout-align="center start">
        <md-card layout="column" flex class="cardWidth">
            <md-card-title flex layout="column">
                <md-card-title-text flex layout="column" layout-align="center center">
                    <span class="md-display-3 centerText">Minnesota State Senate</span>
                    <span class="md-title">Constituent Contact Form</span>
                    <md-button ng-if="hc.reset" class="md-raised" ng-click="hc.startOver()">Reset and Start Over</md-button>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex layout="column" layout-align="center center">
                <md-input-container flex layout-gt-xs="row" layout="column">
                    <md-button ng-if="hc.dropDownButton" class="md-raised md-warn" ng-click="hc.showDropDown(0)">Search By Name</md-button>
                    <md-button ng-if="hc.dropDownButton" class="md-raised md-warn" ng-click="hc.showDropDown(1)">Search By District</md-button>
                </md-input-container>

                <div layout="row" flex class="dropDown" layout-align="center center">

                    <md-input-container ng-if="hc.showSearchName && !hc.senatorCard" flex>
                        <label>Choose Senator By Name</label>
                        <md-select ng-model="hc.senatorToContact" name="Name" flex>
                            <md-option ng-repeat="senator in hc.senators.list" value="{{senator}}">
                                {{senator.senator.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container ng-if="hc.showSearchDistrict && !hc.senatorCard" flex>
                        <label>Choose Senator By District</label>
                        <md-select ng-model="hc.senatorToContact" name="District" flex>
                            <md-option ng-repeat="senator in hc.senators.list" value="{{senator}}">
                                District: {{senator.district}} - {{senator.senator.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <md-card flex layout-gt-xs="row" layout="column" ng-if="hc.senatorToContact" ng-init="hc.convertSenator(hc.senatorToContact)">

                    <md-card-title flex= layout="column">
                        <md-card-title-text layout-padding layout-align="center center">
                            <span class="name">{{hc.senatorCard.senator.name}}</span>
                            <span class="party">
                                 {{hc.senatorCard.senator.party}}
                                </br>
                                District: {{hc.senatorCard.district}}
                            </span>
                            <div flex layout="column" layout-align="center center">
                                <a href="tel:+1{{hc.senatorCard.senator.phones[0]}}">{{hc.senatorCard.senator.phones[0]}}</a>
                                <a href="{{hc.senatorCard.senator.urls[0]}}" target="_blank">Senate.mn - Profile</a>
                            </div>
                        </md-card-title-text>
                    </md-card-title>

                    <md-card-content flex layout="row" layout-padding>
                        <div flex layout="row" class="md-media-xl card-media">
                            <img flex ng-src="{{hc.senatorCard.senator.photoUrl}}" />
                        </div>
                    </md-card-content>
                </md-card>
                
            </md-card-content>
            <md-card-actions>
                <form ng-if="hc.senatorToContact" name="mailForm" layout="column" flex layout-padding>

                    <div layout-gt-xs="row" layout="column" flex>
                        <md-input-container flex>
                            <label>First Name</label>
                            <input ng-model="hc.message.firstName" name="firstName" required minlength="2">
                            <div ng-messages="mailForm.firstName.$error" role="alert">
                                <div ng-message="minlength" class="my-message">Please enter your entire first name.</div>
                                <div ng-message="required" class="my-message">This is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last Name</label>
                            <input ng-model="hc.message.lastName" name="lastName" required minlength="2">
                            <div ng-messages="mailForm.lastName.$error" role="alert">
                                <div ng-message="minlength" class="my-message">Please enter your entire last name.</div>
                                <div ng-message="required" class="my-message">This is required!</div>
                            </div>
                        </md-input-container>
                    </div>
                    
                    <div layout-gt-xs="row" layout="column" flex>
                        <md-input-container flex>
                            <label>Email Address</label>
                            <input ng-model="hc.message.email" name="email" type="email" required>
                            <div ng-messages="mailForm.email.$error" role="alert">
                                <div ng-message="required" class="my-message">This is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Phone Number</label>
                            <input ng-model="hc.message.phone" name="phone" required type="number" minlength="7">
                            <div ng-messages="mailForm.phone.$error" role="alert">
                                <div ng-message="minlength" class="my-message">Please enter your entire phone number, including the area code.</div>
                                <!-- <div ng-message="md-maxlength" class="my-message">That doesn't look like a valid phone number.</div> -->
                                <div ng-message="required" class="my-message">This is required!</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="column" flex>
                        <md-input-container flex>
                            <label>Street Address 1</label>
                            <input ng-model="hc.message.streetOne" name="streetOne" required minlength="5">
                            <div ng-messages="mailForm.streetOne.$error" role="alert">
                                <div ng-message="required" class="my-message">This is required!</div>
                                <div ng-message="minlength" class="my-message">Please enter your entire street name.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Street Address 2</label>
                            <input ng-model="hc.message.streetTwo" name="streetTwo">
                        </md-input-container>
                    </div>

                    <div layout-gt-xs="row" layout="column" flex>
                        <md-input-container flex>
                            <label>City</label>
                            <input ng-model="hc.message.city" name="city" required minlength="3">
                            <div ng-messages="mailForm.city.$error" role="alert">
                                <div ng-message="required" class="my-message">This is required!</div>
                                <div ng-message="minlength" class="my-message">Please enter a valid city name.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex flex-gt-xs="20">
                            <label>State</label>
                            <md-select ng-model="hc.message.state" name="state" required>
                                <md-option ng-repeat="state in hc.states" value="{{state.abbrev}}">
                                    {{state.abbrev}}
                                </md-option>
                            </md-select>
                            <div ng-messages="mailForm.state.$error" role="alert">
                                <div ng-message="required" class="my-message">This is required!</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex flex-gt-xs="25">
                            <label>Zip Code</label>
                            <input ng-model="hc.message.zip" name="zip" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5" type="number">
                            <div ng-messages="mailForm.zip.$error" role="alert">
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.</div>
                                <div ng-message="required" class="my-message">This is required!</div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-input-container flex>
                        <label>Subject</label>
                        <input ng-model="hc.message.subject" name="subject" required minlength="3">
                        <div ng-messages="mailForm.subject.$error" role="alert">
                            <div ng-message="minlength" class="my-message">Please enter a more detailed subject.</div>
                            <div ng-message="required" class="my-message">This is required!</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Message</label>
                        <textarea name="message" ng-model="hc.message.message" md-maxlength="1000" minlength="10" rows="5" md-select-on-focus required></textarea>
                        <div ng-messages="mailForm.message.$error" role="alert">
                            <div ng-message="md-maxlength" class="my-message">Message should be less than 1000 characters!</div>
                            <div ng-message="minlength" class="my-message">Please enter a more detailed message.</div>
                            <div ng-message="required" class="my-message">This is required!</div>
                        </div>
                    </md-input-container>

                    <!--Recaptcha Widget -->            
                    <div vc-recaptcha key="hc.publicKey" layout-margin on-create="hc.onWidgetCreate(widgetId)"></div>

                    <md-button class="md-raised md-primary" type="submit" ng-click="hc.sendMessage()">Send!</md-button>
                </form>
            </md-card-actions>
            <md-card-footer>
                
            </md-card-footer>
        </md-card>
    </md-content>
</section>