<section>
    <md-content layout="row" layout-align="center start">
        <md-card layout="column" flex class="cardWidth">
            <md-card-title flex layout="column">
                <md-card-title-text flex layout="column" layout-align="center center">
                    <span class="md-display-3 centerText">Minnesota State Senate</span>
                    <span class="md-title">Constituent Contact Form</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex layout="column" layout-align="center center">
                <md-input-container flex layout-gt-xs="row" layout="column">
                    <md-button ng-if="hc.dropDownButton" class="md-raised md-warn" ng-click="hc.showDropDown(0)">Search By Name</md-button>
                    <md-button ng-if="hc.dropDownButton" class="md-raised md-warn" ng-click="hc.showDropDown(1)">Search By District</md-button>
                    <md-button ng-if="hc.reset" class="md-raised" ng-click="hc.startOver()">Reset and Start Over</md-button>
                </md-input-container>

                <div layout-gt-sm="row" layout="column" flex class="dropDown" layout-align="center center">

                    <md-input-container ng-if="hc.showSearchName && !hc.senatorCard" flex>
                        <label>Choose Senator By Name</label>
                        <md-select ng-model="hc.senatorToContact" name="Name" flex>
                            <md-option ng-repeat="senator in hc.senators.list" value="{{senator}}">
                                {{senator.senator.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container ng-if="hc.showSearchDistrict && !hc.senatorCard" flex>
                        <label>Choose Senator By District</label>
                        <md-select ng-model="hc.senatorToContact" name="District" flex>
                            <md-option ng-repeat="senator in hc.senators.list" value="{{senator}}">
                                District: {{senator.district}} - {{senator.senator.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-card flex layout-gt-xs="row" layout="column" ng-if="hc.senatorToContact" ng-init="hc.convertSenator(hc.senatorToContact)">

                        <md-card-title flex layout="column">
                            <md-card-title-text>
                                <span class="md-title">{{hc.senatorCard.senator.name}}</span>
                                <span class="md-subhead">District: {{hc.senatorCard.district}}</span>
                                <span class="md-subhead">{{hc.senatorCard.senator.party}}</span>
                                <a href="tel:+1{{hc.senatorCard.senator.phones[0]}}">{{hc.senatorCard.senator.phones[0]}}</a>
                                <a href="{{hc.senatorCard.senator.urls[0]}}">Bio on senate.mn</a>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-content flex layout="column">
                            <div flex layout="column" class="md-media-xl card-media">
                                <img flex  ng-src="{{hc.senatorCard.senator.photoUrl}}" />
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </md-card-content>
            <md-card-actions>
                <form ng-if="hc.senatorToContact" name="mailForm" layout="column" flex layout-padding>

                    <div layout-gt-xs="row" layout="column" flex>
                        <md-input-container flex>
                            <label>First Name</label>
                            <input ng-model="hc.message.firstName" name="firstName">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last Name</label>
                            <input ng-model="hc.message.lastName" name="lastName">
                        </md-input-container>
                    </div>
                    
                    <div layout-gt-xs="row" layout="column" flex>
                        <md-input-container flex>
                            <label>Email Address</label>
                            <input ng-model="hc.message.email" name="email">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Subject</label>
                            <input ng-model="hc.message.subject" name="subject">
                        </md-input-container>
                    </div>
                    
                    <md-input-container>
                        <label>Message</label>
                        <textarea name="message" ng-model="hc.message.message" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
                        <div ng-messages="mailForm.message.$error" role="alert">
                            <div ng-message="md-maxlength" class="my-message">Message should be less than 1000 characters!</div>
                        </div>
                    </md-input-container>

                    <!--Recaptcha Widget -->
                    <!-- <div  class="g-recaptcha" data-sitekey="6LdcUz0UAAAAAKDt_Tc7bGGELcPJu10P4IEaP9t_"></div> -->
                    
                    <div vc-recaptcha key="hc.testKey" layout-margin></div>

                    <md-button class="md-raised md-primary" type="submit" ng-click="sendMessage()">Send!</md-button>
                </form>
            </md-card-actions>
            <md-card-footer>
                
            </md-card-footer>
        </md-card>
    </md-content>
</section>